body {
    background: url("assets/nebula.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.theBoxie {
    display: flex;
    justify-content: center;
    width: 100%; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 20px;
}

li {
    margin: 5px 0;
}

.header {
    width: 100%;
    padding: 14px 80px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.navbar a {
    display: inline-block;
    font-size: 22px;
    color: black;
    text-decoration: none;
    margin-left: 40px;
}

a:hover {
    color: rgb(17, 141, 141);
}

.frontPage img {
    border-radius: 25% 25% 5px 5px;
}

.frontPage {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px
}

.line {
    margin-top: 7px;
    margin-bottom: 5px;
    background-color: white;
    height: 3px;
    width: 0;
    animation: lineAnimation 1s forwards;
}

@keyframes lineAnimation {
    from {
        width: 0;
    }
    to {
        width: 350px;
    }
}

.heading {
    color:white;
    filter: drop-shadow(4px 4px rgb(0, 66, 62))
}

.content {
    background-color: white;
    padding: 30px;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    max-width: 70%;
    margin: auto;
    border-radius: 15px;
}

.content2 {
    margin: 20px;
    background-color: white;
    padding: 30px;
    display: flex; 
    align-items: flex-start;
    flex-direction: row;
    max-width: 70%;
    border-radius: 15px;
}

img {
    display: block;
}

.avatarContainer {
    width: 90px;
}

.avatar {
    border-radius: 50%;
}

.avatar img{
    border-radius: 50%;
    width: 100%;
    height: 90px;
}

.dialogue1 {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.dialogue2 {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.boxie {
    display: flex;
    flex-direction: column;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.skillsContent {
    border-radius: 15px;
    background-color: white;
    max-width: 70%;
    margin-top: 0.75rem;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: 70%;
}

.skillsBox {
    margin-left: 15px;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(0, -50%);
    user-select: none;
}

#image-track .image{
    cursor: pointer;
    border-radius: 5px;
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

.topBox {
    width: 480px;
    margin-bottom: 15px;
}

.demImg1 {
    width: 100%;
    height: 270px;
    border-radius: 15px;
}

.botBox {
    width: 480px;
    margin-top: 10px;
}

.demImg2 {
    width: 100%;
    height: 270px;
    border-radius: 15px;
}

.boxie2 {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 5px;
}

.words {
    margin-top: 5px;
    margin-left: 2px;
}

.words2 {
    margin-top: 20px;
    margin-left: 2px;
}

.webtoon {
    width: 79px;
    position: relative;
    height: 79px;
}

.webtoon img {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.webtoonImg {
    width: 100%;
    height: 79px;
}

/* @media (max-width: 600px) {
    .navbar a{
        font-size: 10px;
    }
} */

@media (max-width: 500px) {
    p {
        font-size: 15px;
    }
    
    h1 {
        font-size: 22px;
    }

    /* About Me */
    .avatar {
        height: 65px;
    }

    .content2 {
        flex-direction: column;
        max-width: 80%;
    }

    .dialogue1 {
        align-items: flex-start;
    }

    .dialogue2 {
        align-items: flex-start;
    }

    /* Projects */
    .demImg1 {
        height: 135px;
        width: 240px;
    }

    .demImg2 {
        height: 135px;
        width: 240px;
    }

}

@media (max-width: 350px) {
    p {
        font-size: 13px;
    }
}